
<EditForm class="form-group" Model="@obs">
    @foreach (ObservationModel o in obs.observations)
    {
        string id = "";
        <div>
            <label class="control-label col-sm-4" style="padding-top:0.5em;">@o.ObsText</label>
            @foreach (ResponseTypeModel r in obs.responseTypes)
            {
                id = obs.GrpId + "" + o.ObsId + "" + r.ResponseText;
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id=@id name="radioGroup@(id)" @onclick="@(e => SetObsValue(@o.ObsId, @r.ResponseId))">
                    <label class="custom-control-label" for=@id>@r.ResponseText</label>
                </div>
            }
        </div>
    }
</EditForm>

@code {

    [Parameter]
    public ObservationViewModel obs { get; set; }

    [Parameter]
    public List<ResponseModel> resp { get; set; }

    [Parameter]
    public EventCallback<List<ResponseModel>> respChanged { get; set; }


    private void SetObsValue(int obsid, int val)
    {
        resp.Add(new ResponseModel { GrpId = obs.GrpId, ObsId = obsid, Response = val });
    }
}
